.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #d8d8d8;
  }
  form{
    background-color: #d8d8d8;
  }
  
  .h1-login {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .input-field-container {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .input-field {
    width: 320px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
  }
  
  .entrar {
    background-color: #2a72de;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .container .entrar a {
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Define a cor do texto como branco */
}
  
  .entrar:hover {
    background-color: #0056b3;
  }
  
  .entrar-google {
    background-color: #fe715e;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .entrar-google:hover {
    background-color: #c53727;
  }
  
  .signup-link {
    margin-top: 50px;
    text-align: center;
    padding-bottom: 100px;
  }
  
  .signup-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }